h1 {
  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(244, 79, 79)
}

h2{
  border-bottom: 3px dotted rgb(236, 122, 122); 
}

h2::before {
  font-size: 25px;
  content: "●";
  color: rgb(239, 111, 139);
}

a{
  color: rgb(255, 255, 255);
}
a:visited{
  color: rgb(193, 234, 251);
}
a:hover{
  color: rgb(245, 178, 168);
}

p {
  margin: 0px;
  font-size: 20px;

}

div p:nth-of-type(2):first-letter {
  color: blue;
}



body {
  margin: 0px;
}

a {
  font-size: 20px;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

main {
  padding: 10px;
  margin: 10px;
}

#parent {
  display: flex;
  justify-content: space-around;

}

.contents {
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px 10px 15px;
  margin: 20px 0px 20px 0px;
}

footer{
  background-color: rgb(244, 79, 79);
}

@media screen and (max-width: 768px) {
  h2{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
  #parent{
    display: block;
  }
 
}
img{
  max-width: 100%;
  height: auto;
  margin: 10px 0px 10px 0px;
  width: 70%;  
}

